<%= simple_form_for([current_user, @message]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!--%= f.input :from %-->
    <div id="div_photo_to_user">
      <div id="select_to_user">
          <%= f.input :to, collection: User.all.collect {|p| [ p.email, p.id ] }, :input_html => {:maxlength =>2,:style=> 'width: 200px'} %> 
      </div>
        <img id="gravatar_to" style="display:none;"/>
    </div>
    <div id="other_content_message">
      <%= f.input :content, :input_html => {:maxlength =>2,:style=> 'width: 310px'} %>
      <%= f.input :opened %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

  <div class="form-inputs">
