<%= simple_form_for([current_user, @vehicle]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :vehicle_type  , :as => :hidden %>
    <%= f.input :brand  , :as => :hidden %>
    <%= f.input :vehicle_model  , :as => :hidden %>
    <%= f.input :year  , :as => :hidden %>
    <%= f.input :trim  , :as => :hidden %>
    <%= f.input :km  , :as => :hidden %>
    <%= f.input :fuel  , :as => :hidden %>

    <!-- %= f.input :vehicle_type %>
    < %= f.input :brand %>
    < %= f.input :vehicle_model %>
    < %= f.input :year %>
    < %= f.input :trim %>
    < %= f.input :km %>
    < %= f.input :fuel % -->
  </div>
<!-- , :as => :hidden -->


<table>
  <tbody>
  <tr valign="bottom">
    <th>Year:</th>
    <th>Make:</th>
    <th>Model:</th>
    <th>Trim:</th>
  </tr>
  <tr>
    <td><select id="car-years" name="car-years"></select></td>
    <td><select id="car-makes" name="car-makes"></select></td>
    <td><select id="car-models" name="car-models"></select></td>
    <td><select id="car-model-trims" name="car-model-trims"></select></td>
  </tr>
  </tbody>
</table>

<!--input id="cq-sold-in-us" type="checkbox" /><label for="us-only">Show Only US Models</label-->

<input id="cq-show-data" type="button" value="Show Data" />
<div id="car-model-data"></div>



  <div class="form-actions" id="create-vehicle" >
    <%= f.button :submit %>
  </div>
<% end %>
