<p id="notice"><%= notice %></p>
<%= image_tag @vehicle.image.url(:medium) %>
<p>
  <b>Vehicle type:</b>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <b>Makes:</b>
  <%= @vehicle.brand %>
</p>

<p>
  <b>Models:</b>
  <%= @vehicle.vehicle_model %>
</p>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>
<p>
  <b>$:</b>
  <%= @vehicle.money %>
</p>

<p>
  <b>Trims:</b>
  <%= @vehicle.trim %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@vehicle.user_id).name %>
</p>

<p>
  <b>Km:</b>
  <%= @vehicle.km %>
</p>

<p>
  <b>Fuel:</b>
  <%= @vehicle.fuel %>
</p>

<!-- %= if @vehicle.user == current_user %>
  < %= link_to 'Edit', edit_user_vehicle_path(@user, @vehicle) %> |
  < %= link_to 'Destroy', [@user, @vehicle], method: :delete %> |
  < %= link_to 'Back', user_vehicles_path %>

< %= end %-->
  <!--%= link_to 'Edit', edit_user_vehicle_path(@user, @vehicle) %> |
  < %= link_to 'Destroy', [@user, @vehicle], method: :delete %> |
  < %= link_to 'Back', user_vehicles_path %-->


  <%= link_to  image_tag("icon-back.png", :alt => "Back", :width => 31, :height => 31), user_vehicles_path %>
  
  <%= link_to  image_tag("icon-edit.png", :alt => "edit vehicle", :width => 31, :height => 31), edit_user_vehicle_path(current_user, @vehicle) %>

  <%= link_to  image_tag("icon-delete.png", :alt => "delete vehicle", :width => 31, :height => 31), [current_user, @vehicle], method: :delete, data: { confirm: 'Are you sure?' } %>