<div id="pageHead" class ="clearfix">
<div id="div_logo">

  <% if user_signed_in? %>
<%= link_to "AutoCareLight", user_vehicles_path, :class => 'brand' %>
<%= link_to image_tag("logo.png", :alt => "home image", :width => 31, :height => 31), user_vehicles_path, :class => 'brand' %>


</div>

<div id="jewelContainer" class="notifNegativeBase notifCentered notifGentleAppReceipt">
  <div id= "fbRequestsJewel" class="uiToggle fbJewel" >
<!-- %= link_to "Mensajes",messages_path, :class => 'brand' % -->
<%= link_to image_tag("icon-mail.png", :alt => "messages", :width => 31, :height => 31), user_messages_path, :class => 'brand' %>
  </div>

  <div id= "fbMessagesJewel" class="uiToggle fbJewel" >
<%= link_to image_tag("icon-alert.png", :alt => "alert", :width => 31, :height => 31), alerts_path, :class => 'brand' %>
  </div>
  

  <div id= "fbMessagesJewel" class="uiToggle fbJewel" >
<%= link_to image_tag("icon-offer.png", :alt => "alert", :width => 31, :height => 31), alerts_path, :class => 'brand' %>
  </div>

</div>
<% else %>
<%= link_to "AutoCareLight", "." , :class => 'brand' %>
<%=  image_tag("logo.png", :alt => "home image", :width => 31, :height => 31) %>

<% end %>



  <% if user_signed_in? %>
<nav id="rfloat">
  <ul id="pageNav" class="clearfix" role="navigation">
    <li class ="navItem firstItem tinyman">
      <%= gravatar_for current_user,   size: 23 , :class => 'brand' %>
      <%= link_to current_user.name, user_vehicles_path %> | 
    </li>

    <li class="navItem middleItem voiceBarToggle">
      <%= link_to 'Edit account', edit_user_registration_path %> |
    </li>

    <li class="notifNegativeBase navItem" id="u_0_e">
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>       
      <% if current_user.has_role? :admin %>
        <%= link_to 'Admin', users_path %>
      <% end %>
    </li>

  </ul>

</nav>
  <% end %>
</div>