<div id="div_logo">
<%= link_to image_tag("logo.png", :alt => "home image", :width => 31, :height => 31), root_path, :class => 'brand' %>
<%= link_to "AutoCareLight", root_path, :class => 'brand' %>
</div>

<!--ul class="nav">
  
  < % if user_signed_in? %>
    <li>
      <div id="div_profile">
      < %= gravatar_for current_user,   size: 23 %>
      < %= link_to current_user.name %>
    </div>
    </li>
    <li>
    < %= link_to 'Edit account', edit_user_registration_path %>
    </li>
  < % else %>
    <li>
    </li>
  < % end %>

  < % if user_signed_in? %>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    < % if current_user.has_role? :admin %>
      <li>
      < %= link_to 'Admin', users_path %>
      </li>
    < % end %>
  < % end %>
</ul-->

  <% if user_signed_in? %>
<nav id="rfloat">
    <ul id="pageNav" class="clearfix" role="navigation">
      <li class ="navItem firstItem tinyman">
      <%= gravatar_for current_user,   size: 23 %>
      <%= link_to current_user.name %> | 
    </li>
    <li class="navItem middleItem voiceBarToggle">
  <%= link_to 'Edit account', edit_user_registration_path %> |
  </li>
  <li class="notifNegativeBase navItem" id="u_0_e">
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %> 

    <% if current_user.has_role? :admin %>
      <%= link_to 'Admin', users_path %>
    <% end %>
  </li>
  </ul>
</nav>
  <% end %>