<div id="pageHead" class ="clearfix">
<div id="div_logo">
<%= link_to image_tag("logo.png", :alt => "home image", :width => 31, :height => 31), root_path, :class => 'brand' %>
<%= link_to "AutoCareLight", root_path, :class => 'brand' %>
</div>

<div id="jewelContainer" class="notifNegativeBase notifCentered notifGentleAppReceipt">
  <div id= "fbRequestsJewel" class="uiToggle fbJewel" >
<%= link_to "Mensajes", root_path, :class => 'brand' %>
  </div>
  <div id= "fbMessagesJewel" class="uiToggle fbJewel" >
<%= link_to "Alertas", root_path, :class => 'brand' %>
  </div>
</div>


  <% if user_signed_in? %>
<nav id="rfloat">
  <ul id="pageNav" class="clearfix" role="navigation">
    <li class ="navItem firstItem tinyman">
      <%= gravatar_for current_user,   size: 23 %>
      <%= link_to current_user.name, root_path %> | 
    </li>

    <li class="navItem middleItem voiceBarToggle">
      <%= link_to 'Edit account', edit_user_registration_path %> |
    </li>

    <li class="notifNegativeBase navItem" id="u_0_e">
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>       
      <% if current_user.has_role? :admin %>
        <%= link_to 'Admin', users_path %>
      <% end %>
    </li>

  </ul>

</nav>
  <% end %>
</div>